body {
	line-height: 1.5;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	color: #000;
	background: none;
	font-size: 10pt;
}

a:link:after, a:visited:after {
	content: " (" attr(href) ")";
	font-size: 90%;
}
